.DS_Store

last_run_issues.txt
tool.log
update.log

.tool-files/h.e
.tool-files/k.e

INPUT/*
!INPUT/config.plist
!INPUT/readme.txt

Docs/diff_Sample.txt

OUTPUT/EFI/*

resources/*

extras/*
!extras/README.txt
!extras/*.kext
!extras/*.aml
!extras/Resources/*
